
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mx-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
             <strong> Administrador Principal</strong> 
            <a href="/" class="mx-2">Inicio </a> 
        </a>
      </div>

      <div class="col-md-3 text-end">

<span> Bienvenido {{persona}}!!! </span>
<a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesion <i class="fa fa-sign-out-alt"></i></a> 
 </div>
    </header>

 

<div class="container p-3" style="height: 80vh;">
    <div class="row " style="display: flex; flex-direction:row;">
        <div class="col-4 align-center">
            <a href="/admin/usuarios" class="btn btn-primary">Lista de usuarios</a>
        </div>
        <div class="col-4"><a href="/admin/suscriptores" class="btn btn-primary">Lista de suscriptores</a> </div>
        <div class="col-4"><a href="/admin/inscriptos" class="btn btn-primary">Lista de inscriptos</a> </div>
       
    </div>
</div>
