<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
            <h1> Administrador Principal</h1>
            <h2> Bienvenido {{persona}}!!!</h2>
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesion <i class="fa fa-sign-out-alt"></i></a></p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <ul>
                <li><a href="/usuarios" class="btn">Lista de usuarios</a></li>
                <li><a href="/suscriptores" class="btn">Lista de suscriptores</a></li>
                <li><a href="/inscriptos" class="btn">Lista de inscriptos</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>