
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mx-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
           <span>Vista de Suscriptores</span>
             <a href="/admin/main" class="mx-2">Inicio </a> 
        </a>
      </div>
      <div class="col-md-3 text-end">
    <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesion <i class="fa fa-sign-out-alt"></i></a>
      </div>
</header>


<div class="container" >
    <div class="row">
        <div class="col">
            <p class="text-end">
            <h5>Listado de Suscriptores</h5>
                      
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarSuscriptorModal">
 Nueva Suscripcion <i class="fa fa-plus"></i>
</button>
            </p>
        </div>
    </div>
</div>

<div class="container my-3 w-60">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each suscriptores}}
                    <tr>
                        <th scope="row">{{idSuscriptor}}</th>
                        <td>{{Email}}</td>
                        <td>
                            <a href="/admin/suscriptores/modificar/{{idSuscriptor}}" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/suscriptores/eliminar/{{idSuscriptor}}" class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR -->
<!-- Modal Agregar Nuevo -->
<div class="modal fade" id="agregarSuscriptorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Suscriptor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                     <!-- ======= Subscribe Section ======= -->
   
      <div class="container" data-aos="zoom-in">
         
        <form method="post" action="/admin/suscriptores/agregar">
          <div class="row justify-content-center">
            <div class="d-flex">
              <input type="text" class="form-control" placeholder="Ingrese el Email" name="Email">
              <button type="submit" class="btn btn-primary ms-2">Agregar</button>
            </div>
          </div>
        </form>

      </div>
    

            </div>
        </div>
    </div>
</div>