<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/quienessomos">Quienes Somos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    
    <section>{{{body}}}</section>
   
  </body>
</html>
